


  body{
      background-color: #eaf6f6;
      border-style: none;
    }

h1{
  color: #66bfbf;
}

h3{
  color: #1572A1;
}

  hr{

    border-style: dotted none none;
    border-width: 5px;
    border-color: grey;
    height: 0px;
    width: 5%;
  }
